/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

/* Links */
a, a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  background-color: #FFFFFF;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Mobile */
  /* Mobile XS */
}
.container.container--edit {
  /* Mobile */
}
@media (max-width: 900px) {
  .container.container--edit {
    background-color: #EBECFA;
  }
}
@media (max-width: 1430px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 900px) {
  .container {
    width: 360px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.header-top {
  padding-top: 54px;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 1430px) {
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 126px;
          column-gap: 126px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-top__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: unset;
            column-gap: unset;
  }
}

.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  /* Mobile */
}
@media (max-width: 1430px) {
  .header-top__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header-top__desc {
  width: 179px;
  font-weight: 400;
  font-size: 14px;
  color: #4C4C4C;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .header-top__desc {
    font-size: 12px;
  }
}

.header-top__contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__block {
  /* Mobile*/
}
@media (max-width: 1430px) {
  .header-top__block {
    position: absolute;
    z-index: 10;
    left: -123px;
    bottom: -60px;
    width: 170px;
    padding: 4px 8px;
    background-color: #E9EAF9;
    border-radius: 8px;
    border: 1px solid #737BE1;
  }
}

.header-top__icon {
  /* Mobile */
}
@media (max-width: 1430px) {
  .header-top__icon {
    cursor: pointer;
  }
}

.header-top__link {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.header-top__item {
  font-size: 14px;
  font-weight: 400;
  color: #4C4C4C;
}

.header-center {
  padding-top: 68px;
  background-image: url("../img/header/header-centr-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 560px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-center {
    height: 520px;
  }
}
@media (max-width: 900px) {
  .header-center {
    padding-top: 0;
    height: 244px;
  }
}

.header-center__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 285px;
          column-gap: 285px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  font-size: 48px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-center__wrapper {
    -webkit-column-gap: 150px;
            column-gap: 150px;
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .header-center__wrapper {
    -webkit-column-gap: unset;
            column-gap: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
  }
}

.header-center__img {
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-center__img {
    width: 327px;
    height: 452px;
  }
}
@media (max-width: 900px) {
  .header-center__img {
    position: absolute;
    width: 170px;
    height: 228px;
    bottom: 0;
    z-index: 0;
  }
}

.header-center__util-wrapper {
  padding-top: 112px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .header-center__util-wrapper {
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }
}

.header-center__title {
  position: relative;
  border-radius: 10px 10px 10px 0px;
  padding: 18px 12px;
  display: inline-block;
  background-color: #737BE1;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-center__title {
    padding: 8px 12px;
  }
}
@media (max-width: 900px) {
  .header-center__title {
    color: #ffffff;
  }
}

.header-center__item {
  position: absolute;
  left: 0;
  bottom: -99px;
  background-color: #ffffff;
  color: #737BE1;
  border-radius: 0px 0px 10px 10px;
  padding: 18px 12px;
  display: inline-block;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header-center__item {
    padding: 8px 12px;
    bottom: -55px;
  }
}
@media (max-width: 900px) {
  .header-center__item {
    background-color: #E9EAF9;
    bottom: -47px;
  }
}

.header-info {
  padding-top: 96px;
  padding-bottom: 96px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .header-info {
    padding-top: 75px;
    padding-bottom: 30px;
  }
}

.header_info__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .header_info__title {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .header_info__title {
    font-size: 18px;
  }
}

.navigation {
  /* Mobile XS */
}
@media (max-width: 900px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  /* Mobile */
}
@media (max-width: 1430px) {
  .navigation__list {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    font-size: 16px;
  }
}

.navigation__line {
  padding: 8px 24px;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
  /* Mobile */
}
@media (max-width: 1430px) {
  .navigation__line {
    padding: 6px 12px;
  }
}
.navigation__line:hover {
  border-radius: 4px;
  background-color: #E9EAF9;
  cursor: pointer;
}

.navigation__link {
  color: #000000;
}
.navigation__link:hover {
  color: #4F58C9;
}

.title {
  font-weight: 600;
  font-size: 36px;
  color: black;
  margin-bottom: 36px;
  /* Mobile */
}
@media (max-width: 1430px) {
  .title {
    margin-bottom: 24px;
    font-size: 28px;
  }
}
.title.title--edit {
  margin-bottom: 48px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .title.title--edit {
    width: 330px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .title.title--edit {
    margin-left: unset;
    margin-right: unset;
    text-align: unset;
  }
}
.title.title--change {
  text-align: center;
  margin-bottom: 48px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .title.title--change {
    margin-bottom: 36px;
  }
}
@media (max-width: 900px) {
  .title.title--change {
    text-align: left;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 21px;
  color: black;
  margin-bottom: 18px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .subtitle {
    font-size: 18px;
  }
}
.subtitle.subtitle--edit {
  margin-bottom: 36px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .subtitle.subtitle--edit {
    margin-bottom: 24px;
  }
}
.subtitle.subtitle--change {
  width: 1020px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .subtitle.subtitle--change {
    width: 820px;
    margin-bottom: 36px;
  }
}
@media (max-width: 900px) {
  .subtitle.subtitle--change {
    width: 324px;
    text-align: left;
  }
}

.button {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 52px;
  border-radius: 8px;
  background-color: #737BE1;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.4;
  font-size: 21px;
}
.button::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/diagnostics/checkmark-medium.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 18px;
  top: 14.5px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 19px;
          column-gap: 19px;
  margin-bottom: 48px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .form__group {
    margin-bottom: 42px;
  }
}
@media (max-width: 900px) {
  .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: 19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 36px;
  }
}

.form__item {
  width: 280px;
  height: 53px;
  border-radius: 8px;
  padding: 12px 8px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: black;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .form__item {
    width: 220px;
    height: 46px;
  }
}
@media (max-width: 900px) {
  .form__item {
    width: 324px;
    height: 49px;
    font-size: 18px;
  }
}
.form__item:focus {
  outline: 2px solid #737BE1;
}
.form__item.form__item--accent {
  outline: 2px solid #737BE1;
}
.form__item.form__item--error {
  outline: 2px solid #E17373;
}
.form__item::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item:-ms-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item::-ms-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item::placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}

.form-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
  width: 1400px;
  padding-top: 182px;
  padding-bottom: 182px;
  border-radius: 8px;
  background-color: #F3F4FE;
  /* Mobile */
  /* Mobile XS */
}
.form-modal.form-modal--active {
  display: block;
}
@media (max-width: 1430px) {
  .form-modal {
    width: 800px;
  }
}
@media (max-width: 900px) {
  .form-modal {
    width: 360px;
  }
}

.form-modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  /* Mobile */
}
@media (max-width: 1430px) {
  .form-modal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-modal__info {
  width: 572px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #737BE1;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .form-modal__info {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .form-modal__info {
    width: 324px;
    font-size: 18px;
  }
}

#overlay {
  display: none;
  position: fixed;
  z-index: 8;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.374);
}

#overlay.overlay--active {
  display: block;
}

.header {
  max-width: 1920px;
}

.laboratory {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #EBECFA;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .laboratory {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.laboratory__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .laboratory__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 24px;
  }
}

.laboratory__desc {
  width: 1020px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .laboratory__desc {
    width: 440px;
  }
}
@media (max-width: 900px) {
  .laboratory__desc {
    width: 330px;
  }
}

.laboratory__link {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 52px;
  border-radius: 8px;
  background-color: #737BE1;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.4;
  font-size: 21px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .laboratory__link {
    font-size: 18px;
  }
}
.laboratory__link::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/laboratory/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 18px;
  top: 14.5px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .laboratory__link::after {
    top: 12.5px;
  }
}

.gallery {
  padding-top: 96px;
  padding-bottom: 96px;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 900px) {
  .gallery {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 332px 332px 332px 332px;
  grid-template-rows: 246px 246px 246px;
  grid-template-areas: "img-1 img-1 img-2 img-2" "img-1 img-1 img-3 img-4" "img-5 img-6 img-7 img-7";
  row-gap: 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery__wrapper {
    grid-template-columns: 400px 400px;
    grid-template-rows: 160px 160px;
    grid-template-areas: "img-1 img-2" "img-1 img-7";
    row-gap: 14px;
    -webkit-column-gap: 14px;
            column-gap: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 900px) {
  .gallery__wrapper {
    grid-template-columns: 324px;
    grid-template-rows: 246px 246px 246px 246px;
    grid-template-areas: "img-1" "img-2" "img-3" "img-4";
    -webkit-column-gap: unset;
            column-gap: unset;
  }
}

.gallery__img-1 {
  grid-area: img-1;
  /* Mobile */
}
@media (max-width: 1430px) {
  .gallery__img-1 {
    height: 334px;
    width: 400px;
  }
}
@media (max-width: 900px) {
  .gallery__img-1 {
    width: 324px;
    height: 246px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery__img-2 {
  grid-area: img-2;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery__img-2 {
    width: 400px;
    height: 160px;
  }
}
@media (max-width: 900px) {
  .gallery__img-2 {
    width: 324px;
    height: 246px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery__img-3 {
  grid-area: img-3;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1430px) {
  .gallery__img-3 {
    display: none;
  }
}
@media (max-width: 900px) {
  .gallery__img-3 {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 324px;
    height: 246px;
  }
}

.gallery__img-4 {
  grid-area: img-4;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery__img-4 {
    display: none;
  }
}
@media (max-width: 900px) {
  .gallery__img-4 {
    display: block;
    width: 324px;
    height: 246px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery__img-5 {
  grid-area: img-5;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery__img-5 {
    display: none;
  }
}
@media (max-width: 900px) {
  .gallery__img-5 {
    display: none;
  }
}

.gallery__img-6 {
  grid-area: img-6;
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1430px) {
  .gallery__img-6 {
    display: none;
  }
}
@media (max-width: 900px) {
  .gallery__img-6 {
    display: none;
  }
}

.gallery__img-7 {
  grid-area: img-7;
  /* Mobile */
  /* Mobile */
}
@media (max-width: 1430px) {
  .gallery__img-7 {
    width: 400px;
    height: 160px;
  }
}
@media (max-width: 900px) {
  .gallery__img-7 {
    display: none;
  }
}

.request {
  padding-bottom: 96px;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .request {
    padding-bottom: 36px;
  }
}

.request__wrapper {
  background-color: #EBECFA;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 8px;
}

.footer {
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: #4F58C9;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__info {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  /* Mobile XS */
}
@media (max-width: 900px) {
  .footer__info {
    text-align: center;
    font-size: 12px;
  }
}

.footer__logo {
  /* Mobile XS */
}
@media (max-width: 900px) {
  .footer__logo {
    width: 150px;
    height: 23px;
  }
}

/*# sourceMappingURL=main.css.map */