/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

/* Links */
a, a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  background-color: #FFFFFF;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1140px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.header-top {
  padding-top: 54px;
  padding-bottom: 54px;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 126px;
          column-gap: 126px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.header-top__desc {
  width: 179px;
  font-weight: 400;
  font-size: 14px;
  color: #4C4C4C;
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__link {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.header-top__item {
  font-size: 14px;
  font-weight: 400;
  color: #4C4C4C;
}

.header-center {
  padding-top: 68px;
  background-image: url("../img/header/header-centr-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 560px;
}

.header-center__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 285px;
          column-gap: 285px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  font-size: 48px;
}

.header-center__util-wrapper {
  padding-top: 112px;
}

.header-center__title {
  position: relative;
  border-radius: 10px 10px 10px 0px;
  padding: 18px 12px;
  display: inline-block;
  background-color: #737BE1;
}

.header-center__item {
  position: absolute;
  left: 0;
  bottom: -99px;
  background-color: #ffffff;
  color: #737BE1;
  border-radius: 0px 0px 10px 10px;
  padding: 18px 12px;
  display: inline-block;
}

.header-info {
  padding-top: 96px;
  padding-bottom: 96px;
}

.header_info__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.navigation__line {
  padding: 8px 24px;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}
.navigation__line:hover {
  border-radius: 4px;
  background-color: #E9EAF9;
  cursor: pointer;
}

.navigation__link {
  color: #000000;
}
.navigation__link:hover {
  color: #4F58C9;
}

.title {
  font-weight: 600;
  font-size: 36px;
  color: black;
  margin-bottom: 36px;
}
.title.title--edit {
  margin-bottom: 48px;
}
.title.title--change {
  text-align: center;
  margin-bottom: 48px;
}

.subtitle {
  font-weight: 400;
  font-size: 21px;
  color: black;
  margin-bottom: 18px;
}
.subtitle.subtitle--edit {
  margin-bottom: 36px;
}
.subtitle.subtitle--change {
  width: 1020px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 52px;
  border-radius: 8px;
  background-color: #737BE1;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.4;
  font-size: 21px;
}
.button::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/diagnostics/checkmark-medium.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 18px;
  top: 14.5px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 19px;
          column-gap: 19px;
  margin-bottom: 48px;
}

.form__item {
  width: 280px;
  height: 53px;
  border-radius: 8px;
  padding: 12px 8px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  color: black;
}
.form__item:focus {
  outline: 2px solid #737BE1;
}
.form__item.form__item--accent {
  outline: 2px solid #737BE1;
}
.form__item.form__item--error {
  outline: 2px solid #E17373;
}
.form__item::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item:-ms-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item::-ms-input-placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}
.form__item::placeholder {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
}

.form-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
  width: 1400px;
  padding-top: 182px;
  padding-bottom: 182px;
  border-radius: 8px;
  background-color: #F3F4FE;
}
.form-modal.form-modal--active {
  display: block;
}

.form-modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.form-modal__info {
  width: 572px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #737BE1;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 8;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.374);
}

#overlay.overlay--active {
  display: block;
}

.header {
  max-width: 1920px;
}

.laboratory {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #EBECFA;
}

.laboratory__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.laboratory__desc {
  width: 1020px;
}

.laboratory__link {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 52px;
  border-radius: 8px;
  background-color: #737BE1;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.4;
  font-size: 21px;
}
.laboratory__link::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/laboratory/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 18px;
  top: 14.5px;
}

.gallery {
  padding-top: 96px;
  padding-bottom: 96px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 332px 332px 332px 332px;
  grid-template-rows: 246px 246px 246px;
  grid-template-areas: "img-1 img-1 img-2 img-2" "img-1 img-1 img-3 img-4" "img-5 img-6 img-7 img-7";
  row-gap: 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.gallery__img-1 {
  grid-area: img-1;
}

.gallery__img-2 {
  grid-area: img-2;
}

.gallery__img-3 {
  grid-area: img-3;
}

.gallery__img-4 {
  grid-area: img-4;
}

.gallery__img-5 {
  grid-area: img-5;
}

.gallery__img-6 {
  grid-area: img-6;
}

.gallery__img-7 {
  grid-area: img-7;
}

.request {
  padding-bottom: 96px;
}

.request__wrapper {
  background-color: #EBECFA;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 8px;
}

.footer {
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: #4F58C9;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */