html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    background-color: #FFFFFF;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

/* Grid styles */

.container {
	max-width: 1430px;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    &.container--edit{
        /* Mobile */
        @media (max-width: 900px) {
            background-color: #EBECFA;
        }
    }

    /* Mobile */
    @media (max-width: 1430px) {
        width: 900px;
    }

    /* Mobile XS */
    @media (max-width: 900px) {
        width: 360px;
    }
}


/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}



