.laboratory {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #EBECFA;

    /* Mobile XS */
    @media (max-width: 900px) {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.laboratory__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* Mobile XS */
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        row-gap: 24px;
    }
}
.laboratory__desc {
    width: 1020px;
    /* Mobile */
    @media (max-width: 1430px) {
        width: 440px;
    }
    /* Mobile XS */
    @media (max-width: 900px) {
        width: 330px;
    }
}

.laboratory__link{
    display: inline-block;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 52px;
    border-radius: 8px;
    background-color: #737BE1;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.4;
    font-size: 21px;

      /* Mobile XS */
      @media (max-width: 900px) {
        font-size: 18px;
    }

  

    &::after{
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url('../img/laboratory/icons/arrow-icon.svg');
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 18px;
        top: 14.5px;

           /* Mobile XS */
      @media (max-width: 900px) {
        top: 12.5px;
    }
    }
}
