.request {
    padding-bottom: 96px;

    /* Mobile XS */
    @media (max-width: 900px) {
        padding-bottom: 36px;
        // background-color: #EBECFA;

    }
  
}

.request__wrapper {
    background-color: #EBECFA;
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 8px;
}


