.button {
    display: inline-block;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 52px;
    border-radius: 8px;
    background-color: #737BE1;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.4;
    font-size: 21px;

    &::after{
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url('../../img/diagnostics/checkmark-medium.svg');
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 18px;
        top: 14.5px;
    }


}