.form-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;

    width: 1400px;
    padding-top: 182px;
    padding-bottom: 182px;
    border-radius: 8px;
    background-color: #F3F4FE;

    &.form-modal--active{
        display: block;
    }

    /* Mobile */
    @media (max-width: 1430px) {
        width: 800px;
    }

    /* Mobile XS */
    @media (max-width: 900px) {
        width: 360px;
    }
}
.form-modal__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;

    /* Mobile */
    @media (max-width: 1430px) {
        flex-direction: column;
        column-gap: unset;
        row-gap: 24px;
        align-items: center;
    }
}
.form-modal__info {
    width: 572px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: #737BE1;

    /* Mobile */
    @media (max-width: 1430px) {
        text-align: center;
    }

    /* Mobile XS */
    @media (max-width: 900px) {
        width: 324px;
        font-size: 18px;
    }
}