.form {
 
}

.form__wrapper{
    display: flex;
    justify-content: center;
}

.form__group {
   display: flex;
   justify-content: center;
   column-gap: 19px;
   margin-bottom: 48px;
    /* Mobile */
    @media (max-width: 1430px) {
        margin-bottom: 42px;
    }
   /* Mobile XS */
   @media (max-width: 900px) {
    flex-direction: column;
    column-gap: unset;
    row-gap: 19px;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
   }
}
.form__item {
    width: 280px;
    height: 53px;
    border-radius: 8px;
    padding: 12px 8px;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.4;
    color: black;
    /* Mobile */
    @media (max-width: 1430px) {
        width: 220px;
        height: 46px;
    }
    /* Mobile XS */
    @media (max-width: 900px) {
        width: 324px;
        height: 49px;
        font-size: 18px;
    }

    &:focus{
        outline: 2px solid #737BE1;
    }


    &.form__item--accent{
        outline: 2px solid #737BE1;
    }

    &.form__item--error{
        outline: 2px solid #E17373;
    }

    &::placeholder{
        font-weight: 400;
        font-size: 21px;
        line-height: 1.4;
    }
}