.header-info {
    padding-top: 96px;
    padding-bottom: 96px;

    /* Mobile XS */
    @media (max-width: 900px) {
        padding-top: 75px;
        padding-bottom: 30px;
    }
}


.header_info__title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;

    /* Mobile */
    @media (max-width: 1430px) {
        font-size: 20px;
    }
    /* Mobile XS */
    @media (max-width: 900px) {
        font-size: 18px;
    }
}